<mat-card class="entry">

<mat-card-content>
<form #entry="ngForm" (ngSubmit)="addItem(entry)" >

    <div fxLayout="column row">
Description:
  <mat-form-field>
    <input matInput name="description"  #descriptionField="ngModel" placeholder= "Please enter the task" ngModel required>

    <mat-hint *ngIf="descriptionField.invalid">
      Please enter a description!
    </mat-hint>
  </mat-form-field>
<br>
Priority:
  <mat-radio-group ngModel name="priority" #priorityField="ngModel" fxLayout="column" fxLayoutGap="1vh" required>
      <mat-radio-button value="high">High</mat-radio-button>
      <mat-radio-button value="medium">Medium</mat-radio-button>
      <mat-radio-button value="low">Low</mat-radio-button>

      <mat-hint *ngIf="priorityField.invalid">
          Please select a priority!
        </mat-hint>
    </mat-radio-group>
<br>
Due Date:
  <mat-form-field>
    <input matInput [matDatepicker]="picker" #dateField="ngModel" placeholder="Choose a date" name="date" ngModel required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-hint *ngIf="dateField.invalid">
        Please select a date!
      </mat-hint>

  </mat-form-field>

  <br>
</div>
<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="1vw">
  <button type="reset" mat-button mat-raised-button color="accent" ><mat-icon>refresh</mat-icon> Reset</button>
  <button type="submit" mat-button mat-raised-button color="primary" [disabled]="entry.invalid" ><mat-icon>note_add</mat-icon> Add</button>

</div>
</form>


</mat-card-content>

</mat-card>
