<mat-card>


  <mat-card-content>
<form action="">

Description:
  <mat-form-field>
    <input matInput name= "taskname" placeholder="Please enter the task" ngModel>
  </mat-form-field>
<br>
  Priority:
  <mat-radio-group>
      <mat-radio-button value="1">High</mat-radio-button>
      <mat-radio-button value="2">Medium</mat-radio-button>
      <mat-radio-button value="3">Low</mat-radio-button>
    </mat-radio-group>
<br>
Due:
<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <br>

  <button type="submit" mat-button mat-raised-button color="accent"><mat-icon>add_circle_outline</mat-icon> Add</button>

</form>

</mat-card-content>

</mat-card>
